venv/
FUP Kering - Unificado (1).xlsx
FUP Kering - Unificado(3).xlsx
FUP Kering - Unificado.xlsx
import_operations_all_open.html
index - Dash Kering.html
keringZada.xlsx
OLHAAAR - FUP Kering - Unificado 01.07.xlsx